/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#signin {
	background-color:#1C86EE;
	height:30px;
	width:72px;
	text-align:center;
	border-radius:3px;
}

li {
	display:inline-block;
	text-decoration:none;
}

#header {
	position:absolute;
	display:block;
	width:100%;
}
#navbar {
	padding: 15px;
	float:right;
}
.navlink {
	padding-right:12px;
	font-size:13px;
	font-family:Arial;
}
a:link {
	text-decoration:none;
	color:black;
}
a:hover {
	text-decoration:underline;
}
p {
	color:white;
	font-size:13px;
	font-family:Arial;
	padding:10% 0;
	font-weight:bold;
}

/*.logo {
	display:block;
	height:95px;
	margin:0 auto;
	top:192px;
}*/
img {
	display:block;
	margin:0 auto;
	height:95px;
	position:relative;
	top:192px;
	/*left:503px;*/
}
.searchbar {
	border:1px solid #D6D6D6;
	position:relative;
	top:212px;
	/*left:351px;*/
	width:560px;
	height:26px;
	font-size:16px;
	padding-left:10px;
	display:block;
	margin:0 auto;
}
.searchbuttonright {
	position:relative;
	top:222px;
	/*left:520px;*/
	height:28px;
	width:112px;
	margin:0 auto;
	background-color:#EDEDED;
	border:solid 1px #DBDBDB;
	font-weight:bolder;
	font-size:10.5px;
	color:#3D3D3D;
	display:inline-block;
}
.searchbuttonleft {
	position:relative;
	top:222px;
	/*left:520px;*/
	height:28px;
	width:95px;
	margin:6px;
	background-color:#EDEDED;
	border:solid 1px #DBDBDB;
	font-weight:bolder;
	font-size:10.5px;
	color:#3D3D3D;
	display:inline-block;
}
#searchbuttons{
	text-align:center;
}
.searchbuttonleft a:hover {
	border:solid 4px black;
}

#footer {
	clear:both;
	height:39px;
	width:100%;
	position:absolute;
	background-color:#EDEDED;
	border:solid 1px #DBDBDB;
	text-align:center;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
#footerLeft {
	float:left;
	display:inline-block;
	padding-top:11px;
	padding-left:15px;
}
#footerRight {
	float:right;
	display:inline-block;
	padding-right:19px;
	padding-top:11px;
}
span {
	color:#B22222;
}
.footerlink {
	font-size:13px;
	font-family:Arial;
	padding-right:12px;
	padding-left:14px;
}
a.footerstyle {
	color:#4F4F4F;
}
